.titleRow {
	display: flex;
	flex-direction: row;
}

.title {
	font-size: large;
	padding-left: 12px;
}

.description {
	font-size: medium;
	margin-top: 12px;
}

.colorRow {
	display: flex;
	flex-direction: row;
}

.colorPreview {
	height: 12px;
	width: 12px;
}

.popup {
	position: fixed;
	z-index: 3000;
}

.overlay {
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}