@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 127, 0, 247;
  --color-secondary: 88, 0, 133;
  --color-text: 0, 0, 0;
  --color-dangerous-primary: 200, 20, 20;
  --color-dangerous-secondary: 120, 0, 0;
  --color-surface-000: 255, 255, 255;
  --color-surface-050: 238, 238, 238;
  --color-surface-100: 221, 221, 221;
  --color-surface-150: 204, 204, 204;
  --color-surface-200: 187, 187, 187;
  --color-surface-250: 170, 170, 170;
  --color-surface-300: 153, 153, 153;
}

@media (prefers-color-scheme: dark) {

}

.panel-surface-050 {
  @apply bg-surface-050/50 border-2 border-surface-100 rounded-xl backdrop-blur-xl shadow-md;
}

.task-bubble {
  background-color: #86FAB9;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: 100px;
  width: 200px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.block-bubble {
  background-color: #da7648;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: 40px;
  width: 200px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}